<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="searchBooks.html">책먹는 악어</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="searchBooks.html">책 검색 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="articleList.html">글 목록</a>
            </li>
            <!-- 추가적인 메뉴는 이곳에 반복해서 추가합니다. -->
        </ul>
        <!-- 로그인 사용자 정보 -->
        <ul class="navbar-nav">
            <li class="nav-item">
        <span class="navbar-text">
          <img src="../image/croco.jpg" alt="프로필 이미지" style="width: 30px; height: 30px; border-radius: 50%;">
          지예 <!-- 사용자 이름을 여기에 넣어주세요 -->
        </span>
            </li>
        </ul>
    </div>
</nav>