<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 먹는 악어</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- 네비게이션 바 -->
<div id="navbar"></div>
<!-- 네비게이션 바 -->

<div class="container">
    <h1 class="mt-4 mb-4">책 검색</h1>

    <!-- 글 작성 폼 -->
    <form class="form-inline my-2 my-lg-0" th:action="@{/api/books}" method="POST">
        <div class="form-group">
            <!-- 검색 카테고리 드롭다운 -->
            <select class="custom-select mr-sm-2" name="queryType">
                <option value="Keyword" selected>제목+저자</option>
                <option value="Title">제목</option>
                <option value="Author">저자</option>
                <option value="Publisher">출판사</option>
                <!-- 추가적인 카테고리는 이곳에 추가합니다. -->
            </select>

            <input type="text" class="form-control mr-sm-2" name="keyword" th:value="${ result } ? ${ result.query } : ''" placeholder="검색어를 입력하세요">
            <button type="submit" class="btn btn-primary my-2 my-sm-0">검색</button>
        </div>
    </form>

    <hr>


    <!-- 글 목록 -->
    <div th:if="${result} != null">

    <h2 class="mt-4 mb-4">책 목록</h2>
    <div class="list-group" th:each="item : ${result.item}">
        <a th:href="${item.link}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${item.title}"></h5>
                <small th:text="${item.author}"></small>
                <small th:text="${item.pubdate}"></small>

            </div>
            <div class="row">
                <div class="col-md-2">
                    <img th:src="${item.cover}" class="img-fluid rounded" alt="게시물 이미지">
                </div>
                <div class="col-md-9">
                    <p class="mb-1" th:text="${item.description}"></p>
                </div>
            </div>
        </a>
        <hr>
        <!-- 추가적인 글목록은 이곳에 반복해서 추가합니다. -->
    </div>



    </div>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    // 네비게이션 바를 동적으로 로드하는 함수
    $(function () {
        $("#navbar").load("../navbar.html");
    });

</script>
</body>
</html>